/* Added last minute to format particular posts better.  */

.zaduma-prose .full-w-child > p {
  max-width: 100%;
}

.zaduma-prose {
  /* TODO: This should be moved to Zaduma. */
  /* Needed for my Refinement Types post. */
  & li blockquote {
    margin: 1em 0.5em;
  }

  & aside pre {
    &:last-child,
    &:nth-last-child(2) {
      padding-bottom: 0;
    }
  }

  & li {
    line-height: 1.75;
  }
}

.hsp--measurements {
  @apply w-[var(--wide-content-width)];
  transform: translateX(min(calc(-50% * var(--wide-breakout)), 0px));

  && thead {
    border-color: transparent;

    & td {
      @apply pb-1;
    }
  }

  && td {
    @apply p-[2px];

    &:hover {
      z-index: 100;
      position: relative;
    }
  }

  & .zaduma-image-box {
    @apply m-0 flex rounded-md p-0;

    transform: none;
    transition:
      scale cubic-bezier(0.08, 0.8, 0.165, 1) 0.75s,
      box-shadow cubic-bezier(0.08, 0.8, 0.165, 1) 0.75s;

    &:before {
      transition: background-color cubic-bezier(0.08, 0.8, 0.165, 1) 0.75s;
    }

    &:hover {
      scale: 1.03;
      @apply shadow-lg;
    }

    & img {
      @apply rounded-md border;

      width: 100%;
      cursor: pointer;
      opacity: 1;
    }
  }
}
